name: Linux
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths-ignore:
      - "**/README.md"
  schedule:
    - cron: "0 12 * * *"

env:
  BASE_BRANCH: master
  SCONS_CACHE_LIMIT: 7168

jobs:
  linux-builds:
    runs-on: "ubuntu-20.04"
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux Editor
            cache-name: linux-editor
            target: editor

          - name: Linux Template Debug
            cache-name: linux-template-debug
            target: template_debug

          - name: Linux Template Release
            cache-name: linux-template-release
            target: template_release

    steps:
      - name: Checkout Godot
        uses: actions/checkout@v3
        with:
          repository: godotengine/godot
          ref: master

      - name: Checkout LuaAPI
        uses: actions/checkout@v3
        with:
          repository: WeaselGames/godot_luaAPI
          ref: main
          submodules: recursive
          path: modules/luaAPI

      - name: Checkout Voxel
        uses: actions/checkout@v3
        with:
          repository: Zylann/godot_voxel
          ref: master
          path: modules/voxel

      - name: Checkout GodotSteam
        uses: actions/checkout@v3
        with:
          repository: Gramps/GodotSteam
          ref: godot4
          path: modules/godotsteam

      - name: Delete SDK Folder
        run: |
          rm -rf modules/godotsteam/sdk

      - name: Checkout SteamWorks SDK
        uses: actions/checkout@v3
        with:
          lfs: "true"
          repository: ${{ secrets.steamworks_sdk_repo }}
          ref: master
          token: ${{ secrets.steamworks_sdk_repo_token }}
          path: modules/godotsteam/sdk

      # Install all packages except SCons
      - name: Configure dependencies
        run: |
          sudo apt-get update
          sudo apt-get install yasm
          curl -LO https://downloads.tuxfamily.org/godotengine/toolchains/linux/2021-02-11/x86_64-godot-linux-gnu_sdk-buildroot.tar.bz2
          tar xf x86_64-godot-linux-gnu_sdk-buildroot.tar.bz2
          rm -f x86_64-godot-linux-gnu_sdk-buildroot.tar.bz2
          cd x86_64-godot-linux-gnu_sdk-buildroot
          ./relocate-sdk.sh

      - name: Load .scons_cache directory
        uses: actions/cache@v2
        with:
          path: ${{github.workspace}}/.scons_cache/
          key: ${{matrix.cache-name}}-${{env.BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{matrix.cache-name}}-${{env.BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{matrix.cache-name}}-${{env.BASE_BRANCH}}-${{github.ref}}
            ${{matrix.cache-name}}-${{env.BASE_BRANCH}}

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"

      - name: Configuring Python packages
        run: |
          python -c "import sys; print(sys.version)"
          python -m pip install scons
          python --version
          scons --version

      - name: Compilation
        env:
          SCONS_CACHE: ${{github.workspace}}/.scons_cache/
          BUILD_NAME: "SP"
        run: |
          echo /x86_64-godot-linux-gnu_sdk-buildroot >> $GITHUB_PATH
          scons platform=linux target=${{ matrix.target }} extra_suffix=SP

      - name: Prepare artifact
        run: |
          strip bin/godot.*
          chmod +x bin/godot.*
      - uses: actions/upload-artifact@v2
        with:
          name: ${{matrix.cache-name}}
          path: bin/*
