name: Windows
on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths-ignore:
      - "**/README.md"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "**/README.md"
  schedule:
    - cron: "0 12 * * *"

env:
  BASE_BRANCH: master
  SCONS_CACHE_MSVC_CONFIG: true
  SCONS_CACHE_LIMIT: 7168

jobs:
  windows-builds:
    runs-on: "windows-latest"
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows Editor
            cache-name: windows-editor
            target: editor

          - name: Windows Template Debug
            cache-name: windows-template-debug
            target: template_debug

          - name: Windows Template Release
            cache-name: windows-template-release
            target: template_release

    steps:
      - name: Checkout Godot
        uses: actions/checkout@v3
        with:
          repository: WeaselGames/godot
          ref: 26ca2ee80554e8171456e341407d945ac3a4d662

      - name: Checkout LuaAPI
        uses: actions/checkout@v3
        with:
          repository: WeaselGames/godot_luaAPI
          ref: main
          submodules: recursive
          path: modules/luaAPI

      - name: Checkout Voxel
        uses: actions/checkout@v3
        with:
          repository: Zylann/godot_voxel
          ref: master
          path: modules/voxel

      - name: Checkout GodotSteam
        uses: actions/checkout@v3
        with:
          repository: Gramps/GodotSteam
          ref: godot4
          path: modules/godotsteam

      - name: Delete SDK Folder
        run: |
          Remove-Item 'modules/godotsteam/sdk' -Recurse

      - name: Checkout SteamWorks SDK
        uses: actions/checkout@v3
        with:
          lfs: "true"
          repository: ${{ secrets.steamworks_sdk_repo }}
          ref: master
          token: ${{ secrets.steamworks_sdk_repo_token }}
          path: modules/godotsteam/sdk

      - name: Load .scons_cache directory
        uses: RevoluPowered/cache@v2.1
        with:
          path: /.scons_cache/
          key: ${{matrix.cache-name}}-${{env.BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{matrix.cache-name}}-${{env.BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{matrix.cache-name}}-${{env.BASE_BRANCH}}-${{github.ref}}
            ${{matrix.cache-name}}-${{env.BASE_BRANCH}}

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"

      - name: Configuring Python packages
        run: |
          python -c "import sys; print(sys.version)"
          python -m pip install scons pywin32
          python --version
          scons --version

      - name: Compilation
        env:
          SCONS_CACHE: /.scons_cache/
          BUILD_NAME: "SP"
        run: |
          scons platform=windows target=${{ matrix.target }} extra_suffix=SP

      - name: Prepare artifact
        run: |
          Remove-Item bin/* -Include *.exp,*.lib,*.pdb -Force
          Copy-Item "modules/godotsteam/sdk/redistributable_bin/win64/steam_api64.dll" -Destination "bin/steam_api64.dll" -Recurse
          New-Item bin/steam_appid.txt
          Set-Content bin/steam_appid.txt "480"
      - uses: actions/upload-artifact@v2
        with:
          name: ${{matrix.cache-name}}
          path: bin/*
